.wrap {
  display: flex;
  gap: 4px;

  margin: 12px 0 0 0;
}

.pic {
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  justify-content: center;
}

.info dl {
  display: flex;
  gap: 12px;

  align-items: center;
}

.info dt {
  font-size: 14px;
}
